# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Vite
.vite/
